<h2>Sua the loai</h2>

<form action="/theloai/sua" method="POST">
    <div>
        <label>Ten the loai ban muon sua:</label>
        <input type="text" name="nameCu">
    </div>
    <div>
        <label>Ten moi:</label>
        <input type="text" name="nameMoi">
    </div>
    <button type="submit">Submit</button>
</form>